@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.container-simple-slick {
    display: flex;
    justify-content: center;
}

.slick-slider {
    width: 50%;
    height: 100px;
    color: blue;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}


.slick-arrow {
    background-color: red;
}